@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
#navbar-menu{
  display: flex;
}
.header-banner {
  width: 100%;
  height: auto;
  right: 0%;
  left: 0%;

}
.barra{
  display: inline;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header-banner {
    width: 100%;
}
.d-inline-block{
  width: 80px;
  height: 40px;
  flex-shrink: 0;
}
}


/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
}
