/* Banner app */
.banner-all {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  
  .web-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
  }
  
  .web-cel-container {
    width: 900px;
    height: 615px;
  }
  
  .texto-banner {
    color: #4a4a4a;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
  }
  
  .texto2-banner {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  