*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    
}



/* mapa */

.container-fluid {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  height: auto;
}





/* @media (min-width: 768px) {
  .buscador-container {
    width: 480px;
    position: absolute;
    border-radius: 12px;
    height: 121px;
    padding-left: 20px;
    margin-top: 64px;
    padding-right: 0px;
  }
} */




.google-map-container {
  margin-top: 90px; /* Ajusta el valor según la altura de tu encabezado */
  height: calc(100vh - 60px); /* Resta la altura del encabezado al 100% de la altura de la ventana */
}