@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.contact{
  font-weight: 600;
  color: #009640;
  text-align: center;
}


.social-media{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icons{
  display: flex;
  align-items: flex-start;
  
}
.btn-container{
  border-radius: 18.5px;
  font-weight: 600;
}

.icons-container{
  border-radius: 50%;
  cursor: pointer;
  padding: 10px 13px;
  width: 41px;
  height: 41px;
  background-color: #E6E6E6;
}

/* button {
  border-radius: 18.5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

button:hover {
  border-color: #4b4b4b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
